@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: #1C1C1C;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

.blueText {
    color: #426BC2;
}

.fatText {
    font-weight: 800;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.76px;
    line-height: 120%;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.76px;
    line-height: 120%;
}

h3 {
    margin: 0;
    max-width: 340px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
}

p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.28px;
    line-height: 150%;
    font-weight: 600;
    font-size: 16px;
}

/* Хедер */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: white;
    position: fixed;  
    top: 0;  
    width: 100%;  
    z-index: 1000;
    padding: 25px 0 25px 0;  
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Компоненты хедера */

.headerLogo {
    font-size: 28px;
    font-weight: 900;
}

.logoMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
}

.headNav a {
    margin-left: 20px;
    padding: 10px 25px;

    background:#F3F4F5;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;

    transition: background 0.5s;
}

.headNav a:hover {
    background: #E6E6E6;
}

.headerList {
    display: flex;
    gap: 20px;
}

.headerButtons {
    display: flex;
}

.buttonIn {
    padding: 10px 25px;

    background:#F3F4F5;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;

    transition: background 0.5s;
}

.buttonIn:hover {
    background: #E6E6E6;
}

.buttonOn {
    margin-left: 20px;
    padding: 10px 25px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;


    background : #426BC2;
    border-radius: 7px;

    transition: background 0.5s;
}

.buttonOn:hover {
    background: #3A5DA8;
}

/* Секция mainTitle */

.title {
    padding: 0;
    margin-top: 150px;
}

.blockContent {
    margin-top: 30px;
}
.contentDirect {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.content {
    margin: 30px 0 0;
    max-width: 600px;
    padding: 45px 50px;
    background-color: #F3F4F5;
    border-radius: 25px;
}

.contentDesc {
    margin: 30px 0 0;
    max-width: 855px;
}

ol {
    list-style-type: decimal; 
    padding: 0;
    margin: 30px 0 0;
}

ol li::marker {
    content: "\2022"; 
    font-size: 1.2em;
    color: black;    
}

ol li {
    font-family: "Inter", sans-serif;
    line-height: 150%;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    max-width: 855px;
}

.block {
    margin: 50px 0 ;
}

iframe {
    margin-top: 30px;
}

/* секция Footer */
footer {
    padding: 70px 0;
    background-image: url("./footerImg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container {
    display: flex;
    gap: 70px;
}

.footer .headerLogo {
    font-size: 24px;
}

.linkSite {
    display: flex;
    gap: 7px;
}

.linkSite p {
    padding: 0;
}

footer a {
    color: #878787;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.linksSites {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footBlock {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.footerTitle {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1000px) {

    .headerLogo {
        font-size: 22px;
    }

    .headNav a {
        font-size: 12px;
        padding: 7px 15px;
    }

    .buttonIn {
        font-size: 12px;
        padding: 7px 15px;
    }

    .buttonOn {
        font-size: 12px;
        padding: 7px 15px;
    }
}

@media (max-width: 750px) {
    .header .container {
        padding: 0 25px;
    }

    .headNav {
        display: none;
    }

    .menu {
        display: block;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 5px;
        position: absolute;
        display: block;
        width: 80%;
        height: 4px;
        background: #426BC2;
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #426BC2;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 10px;
        padding: 70px 0 0;
        margin: 0;
        background: #FFF;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 200px;
    }
    .menu-item {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        display: block;
        padding: 8px;
        color: #1C1C1C;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }

    .footer .container {
        padding: 0 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 15px;
    }

    .footer {
        padding-bottom: 0;
        margin-bottom: 0;
    }  
    
    .blockTitle {
        padding-left: 25px;
    }

    .headerButtons {
        display: none;
    }

    .container {
        padding: 0 25px;
    }

    .title {
        margin-top: 100px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    ol li {
        font-size: 14px;
    }
}