@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*:befire,
*:after {
    box-sizing: border-box;
}


/* Общие стили текста */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: white;
    color: #1C1C1C;
}

a {
    color: #1C1C1C;
    text-decoration: none;
}

.blueText {
    color: #426BC2;
}

h1 {
    padding: 0;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0.96px;
    line-height: 120%;
}

h2 {
    padding: 0;
    margin: 0;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 0.76px;
    line-height: 120%;
}

h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;
    line-height: 150%;
}

p {
    margin: 0;
    padding-top: 25px;
    color: #878787;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0.28px;
}

main {
    margin: 100px 0 0 0;
}

/* Хедер */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: white;
    position: fixed;  
    top: 0;  
    width: 100%;  
    z-index: 1000;
    padding: 25px 0 25px 0;  
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Компоненты хедера */

.headerLogo {
    font-size: 28px;
    font-weight: 900;
}

.logoMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
}

.headNav a {
    margin-left: 20px;
    padding: 10px 25px;

    background:#F3F4F5;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;

    transition: background 0.5s;
}

.headNav a:hover {
    background: #E6E6E6;
}

.headerList {
    display: flex;
    gap: 20px;
}

.headerButtons {
    display: flex;
}

.buttonIn {
    padding: 10px 25px;

    background:#F3F4F5;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;

    transition: background 0.5s;
}

.buttonIn:hover {
    background: #E6E6E6;
}

.buttonOn {
    margin-left: 20px;
    padding: 10px 25px;

    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.28px;


    background : #426BC2;
    border-radius: 7px;

    transition: background 0.5s;
}

.buttonOn:hover {
    background: #3A5DA8;
}

/* Домашняя секция */

.home {
    margin-bottom: 70px;
    padding-top: 70px;
    padding-bottom: 100px;
    
    background-image: url("./homeBg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonCreate {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 54px;
    
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;


    background: #426BC2;
    border-radius: 10px;

    transition: background 0.5s;
}

.buttonCreate:hover {
    background: #3A5DA8;
}

.homeTitle {
    margin-top: 0;
    margin-bottom: 50px;
    width: 366px;
}

.homeDesc {
    width: 320px;
}

/* Секция service */

.service {
    margin-bottom: 70px;
}

.title {
    max-width: 440px;
    margin-bottom: 50px;
}

.blockServices1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.block {
    width: 385px;
    padding: 17px 25px;
    background-color: #F3F4F5;
    border-radius: 15px;

    transition: background 0.5s;
}

.block:hover {
    background-color: #E6E6E6;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Сокция solution */

.solutions {
    background-image: url("./solutionBg.png");
    background-repeat: no-repeat;
    background-position: center;

    padding: 70px 0 70px 0;
}

.blockSolution {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: auto;
    max-width: 1268px; 
}

.blockS {
    width: 385px;
    padding: 17px 25px;
    background-color: white;
    border-radius: 15px;

    transition: background 0.5s;
}

.blockS:hover {
    background-color: #F3F4F5;
}

/* Секция FAQ */

.faq {
    margin: 70px 0 70px 0;
}

.faq .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.faqItem  {
    width: 753px;
    background-color: #F3F4F5;
    border-radius: 10px;
    margin-bottom: 20px;
}

.topLink {
    cursor: pointer;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: background 0.5s;
}

.topLink:hover {
    background-color: #E6E6E6;
    border-radius: 10px;
}

.bottomLink {
    display: none;
    padding: 0 25px 25px 25px;
}

.faqInput {
    width: 0;
    height: 0;
    appearance: none;
    position: absolute;
}

.faqInput:checked ~ .bottomLink {
    display: block;
}

.faqInput:checked ~ .topLink {
    background-color: #E6E6E6;
    border-radius: 10px;
}

/* Стрелочки */

.topLink img {
    content: url('./arrowDown.png');
}

.faqInput:checked ~ .topLink img {
    content: url('./arrowUp.png');
}

/* Секция Registration */

.registration .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 35px;
}

.buttonInstruct {
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 54px;
    
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.36px;


    background: white;
    border-radius: 10px;

    transition: background 0.5s;
}

.buttonInstruct:hover {
    background: #F3F4F5;
}

.createAccount {
    background-color: #F3F4F5;
    padding: 35px 50px 50px;
    border-radius: 35px;
}

.instructions {
    background-color: #F3F4F5;
    padding: 35px 50px 50px;
    border-radius: 35px;
}

/* секция Footer */
footer {
    padding-bottom: 70px;
    margin: 70px 0;
    background-image: url("./footerImg.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer .container {
    display: flex;
    gap: 70px;
}

.footer .headerLogo {
    font-size: 24px;
}

.linkSite {
    display: flex;
    gap: 7px;
}

.linkSite p {
    padding: 0;
}

footer a {
    color: #878787;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.linksSites {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footBlock {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.footerTitle {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1000px) {

    .headerLogo {
        font-size: 22px;
    }

    .headNav a {
        font-size: 12px;
        padding: 7px 15px;
    }

    .buttonIn {
        font-size: 12px;
        padding: 7px 15px;
    }

    .buttonOn {
        font-size: 12px;
        padding: 7px 15px;
    }

    .blockServices1 {
        justify-content: space-evenly;
    }

    .solutions {
        background-color: #F3F4F5;
    }

    .solutions .blockSolution {
        justify-content: space-evenly;
    }

    .title {
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }

    .faqItem {
        width: 540px;
    }

    .faq .container {
        justify-content: space-evenly;
    }

    .createAccountDesc {
        text-align: center;
    }

    .buttonCreate {
        margin-left: 60px;
    }

    .home .buttonCreate {
        margin-left: 0;
    }

    .buttonInstruct {
        margin-left: 50px;
    }
}

@media (max-width: 750px) {
    .header .container {
        padding: 0 25px;
    }

    .headNav {
        display: none;
    }

    .menu {
        display: block;
    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
    }
    .burger::before,
    .burger::after {
        content: '';
        left: 5px;
        position: absolute;
        display: block;
        width: 80%;
        height: 4px;
        background: #426BC2;
    }
    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #426BC2;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }
    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }
    .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }
    .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }
    .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 10px;
        padding: 70px 0 0;
        margin: 0;
        background: #FFF;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 200px;
    }
    .menu-item {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        display: block;
        padding: 8px;
        color: #1C1C1C;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
    }
    .menu-item:hover {
        background: rgba(255,255,255,.2)
    }
    .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
    }

    .footer .container {
        padding: 0 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 40px 15px;
    }

    .footer {
        padding-bottom: 0;
        margin-bottom: 0;
    }  
    
    .blockTitle {
        padding-left: 25px;
    }
}

@media (max-width: 550px) {
    .faqItem {
        max-width: 400px;
    }

    h1 {
        font-size: 32px;
    }

    .homeTitle {
        margin: 0 0 25px;
    }

    .blockTitle {
        max-width: 300px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 14px;
    }

    .serviceDesk {
        font-size: 12px;
        padding: 10px 0 0;
    }
    
    .blockImg {
        width: 184px;
        height: 145px;
    }

    .buttonCreate {
        font-size: 14px;
        width: 170px;
        height: 45px;
        margin-top: 25px;
        margin-left: 45px;
    }

    .buttonInstruct {
        font-size: 14px;
        width: 170px;
        height: 45px;
        margin-top: 25px;
        margin-left: 55px;
    }

    .home {
        padding: 25px 0 35px;
    }

    .imgIn {
        max-width: 35px;
        max-height: 25px;
    }

    .title {
        padding-bottom: 25px;
    }

    .footer .headerLogo {
        font-size: 18px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer a {
        font-size: 12px;
    }

    .headerButtons {
        display: none;
    }

    .solutions {
        padding: 25px 0;
    }
}

@media (max-width: 430px) {
    .faqItem {
        max-width: 300px;
    }

    .blockS {
        max-width: 300px;
    }

    .block {
        max-width: 300px;
    }

    .createAccount {
        padding: 25px;
    }

    .instructions {
        padding: 25px;
    }

    h2 {
        font-size: 24px;
    }

    .blockImg {
        display: none;
    }
}

.faq .container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.faqImageBox img {
    width: 380px;
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .faq .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .faqImageBox img {
        width: 300px;
        margin-bottom: 20px;
    }
}
